@media (min-width: 1200px) {
	//ADVENTURE
	.adventure {
		.hero {
			&__text {
				h2 {
					font-size: 5rem;
					border: 1px solid white;
					padding: 1em 5em;
				}
			}
		}
	}

	//header
	header {
		.hero {
			&__text {
				align-items: flex-start;
				padding-left: 10em;
			}
		}
	}

	//SUBPAGE OFFERT
	.offers {
		&__option {
			max-width: 70em;
			
			margin: 2em 3em;

			&-img {
				max-width: 40%;
			}

			&-heading {
				font-size: 2.5rem;
			}
			&-text {
				font-size: 1.7rem;
			}
			&-info {
				margin-left: 1em;
			}

		}
	}
	//CONTACT
	.map {
		&_box {
			max-width: 40em;
		}
	}
}
