@media (min-width: 1200px) {
	//ADVENTURE
	.adventure {
		.hero {
			&__text {
				h2 {
					font-size: 3em;
					border: 1px solid white;
					padding: 1em 5em;
				}
			}
		}
	}

	//header
	header {
		.hero {
			&__text {
				align-items: flex-start;
				padding-left: 10em;
			}
		}
	}

	//nav
	.wrapper {
		.nav {
			&__items {
				.nav__item {
					width: 9%;
					height: 100%;
					left: 55%;
				}
			}
		}
	}
}
