@media (min-width: 768px) {
	//nav
	.nav {
		&__wrapper {
			justify-content: space-around;
			height: 5em;
		}
		&__items {
			position: relative;
			flex-direction: row;
			align-items: center;
			top: 0;
			padding: 0;
			gap: 0;
			border: none;
			transform: none;
			opacity: 1;
			height: 100%;	
		}

		&__item {
			padding: 2.5em;
			transition: color .3s, background-color .3s;
			
			&:hover {
				color: #fff;
				background-color: black;
			}
		}


		.burger {
			&__btn {
				display: none;
			}
		}
	}
}
