@mixin medium {
	.nav {
		&__wrapper {
			justify-content: space-around;
			height: 5em;
		}
		&__items {
			position: relative;
			flex-direction: row;
			top: 0;
			padding: 0;
			gap: 0;
			border: none;
			transform: none;
			opacity: 1;
			height: 100%;
			transition: opacity 0s;
		}

		&__item {
			padding: 2.5em;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: #fff;
				background-color: black;
			}
		}

		.burger {
			&__btn {
				display: none;
			}
		}
	}
}

@mixin border {
	.adventure{

		.hero {
			&__text {
				h2 {
					font-size: 2.2rem;
					border: 1px solid white;
					padding: 1em 2em;
				}
			}
		}
	}
}

@mixin large {
	.section-heading {
		font-size: 4rem;
		margin: 1.5em;
	}
	//nav

	//header
	header {
		.hero {
			&__img {
				background-image: url('../img/jungle_1920.jpg');
			}
			&__text {
				p {
					font-size: 3rem;
				}
				h1 {
					font-size: 4rem;
					margin: 0;
				}
			}
		}
	}

	/* ABOUT */
	.about {
		scroll-margin-top: 5em;

		&__box {
			margin-bottom: 5em;
		}

		&__img {
			max-height: 300px;
		}

		&__box-text {
			justify-content: flex-start;
			align-items: flex-start;
			max-width: 45%;
			margin: 0;
			padding-left: 4em;
		}

		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.5rem;
			margin: 0;
		}
	}

	//ADVENTURE
	.adventure {
		.hero {
			&__img {
				height: 400px;
				background-image: url('../img/girl_1920.jpg');
			}

			&__text {
				h2 {
					font-size: 4rem;
					border: 1px solid white;
					padding: 1em 3.5em;
				}
			}
		}
	}

	// Offerts
	.offerts {
		scroll-margin-top: 5em;
	}

	.heading p {
		font-size: 2.2rem;
	}

	.offert {
		&__box {
			min-width: 18em;
			min-height: 23em;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}

			.title {
				font-size: 3rem;
				margin-top: 0.5em;
			}

			span {
				font-size: 4.5rem;
			}

			.list {
				li {
					font-size: 1.8rem;
				}
			}

			button {
				padding: 0.5em 4em;
				font-size: 2rem;
			}
		}
	}

	// FOOTER
	.footer {
		&__boxes {
			display: flex;
		}
	}

	//OFFERT SUBPAGE
	.offers {
		&__option {
			flex-wrap: nowrap;
			max-width: 50em;

			&-text {
				font-size: 1.4rem;
			}
			&-img {
				max-width: 40%;
			}
		}
	}

	//CONTACT
	.map {
		&_box {
			max-width: 35em;
			h3 {
				font-size: 2.5rem;
			}
		}
	}
}

@mixin extraLarge {
	//ADVENTURE
	.adventure {
		.hero {
			&__text {
				h2 {
					font-size: 5rem;
					border: 1px solid white;
					padding: 1em 5em;
				}
			}
		}
	}

	//header
	header {
		.hero {
			&__text {
				align-items: flex-start;
				padding-left: 10em;
			}
		}
	}

	//SUBPAGE OFFERT
	.offers {
		&__option {
			max-width: 70em;

			margin: 2em 3em;

			&-img {
				max-width: 40%;
			}

			&-heading {
				font-size: 2.5rem;
			}
			&-text {
				font-size: 1.7rem;
			}
			&-info {
				margin-left: 1em;
			}
		}
	}
	//CONTACT
	.map {
		&_box {
			max-width: 40em;
		}
	}
}
