@media (min-width: 768px) {
	.link {
		margin: 1.5em;
		font-size: 2rem;
		text-align: center;
	}

	//ADVENTURE
	.adventure {
		.hero {
			&__text {
				h2 {
					font-size: 3rem;
					border: 1px solid white;
					padding: 1em 4em;
				}
			}
		}
	}

	//SUBPAGE OFFERT

	.offers {
		&__option {
			max-width: 35em;

			&-heading {
				margin-bottom: 0.7em;
			}

			&-text {
				font-size: 1.6rem;
			}
		}
	}
//CONTACT
	.map {
		&_box {
			max-width: 25em;
		}
	}
}
