*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
}

.section-heading {
	position: relative;
	margin: 1em;
	font-size: 3rem;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	color: #000;
}

/* NAVIGATION */

.nav {
	position: fixed;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid black;
	z-index: 2;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4em;
		margin: 0 1em;
	}

	&__logo {
		text-decoration: none;
		color: rgb(50, 50, 50);
		font-size: 3rem;
	}

	&__items {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: center;
		top: 4em;
		left: 0;
		right: 0;
		padding: 2em 0;
		gap: 3em;
		background-color: #fff;
		border-bottom: 1px solid black;
		list-style: none;
		overflow: hidden;
		transform: translateY(-150%);
		transition: opacity 0.5s, transform 0.5s;
		opacity: 0;
		z-index: -1;

		&--active {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__item {
		font-size: 1.7rem;
		color: rgb(50, 50, 50);
		text-decoration: none;
		transition: font-weight 0.3s;

		&:hover {
			font-weight: bold;
		}
	}

	.burger {
		&__btn {
			display: block;
			background: none;
			border: none;
		}
		&__icon {
			cursor: pointer;
			padding: 1em;
		}
	}
}

/* HEADER */

header {
	.hero {
		&__img {
			position: relative;
			width: 100%;
			height: 32em;
			background-image: url('../img/jungle_640.jpg');
			background-position: center;
			background-size: cover;
			z-index: -1;
		}

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 0;
		}

		&__text {
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			text-align: center;
			color: #fff;
			z-index: 5;

			p {
				font-size: 2.2rem;
				margin-bottom: 0.5em;
			}
			h1 {
				font-size: 3rem;
				margin: 0 0.5em;
			}
		}
	}
}

/* ABOUT */

.about {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	scroll-margin-top: 4em;

	&__box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 1em 0;
	}

	&__img {
		display: block;
		max-width: 100%;
		max-height: 220px;
		margin: 0 auto;
	}

	&__box-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		margin: 2em;
		font-weight: lighter;
		color: #000;
	}

	&__title {
		font-size: 2rem;
		margin-bottom: 1em;
		text-align: center;
	}

	&__text {
		font-size: 1.3rem;
		letter-spacing: 2px;
		text-align: justify;
		margin: 0 1em;
	}
}

//ADVENTURE

.adventure {
	width: 100%;

	.hero {
		&__img {
			position: relative;
			height: 250px;
			background-image: url('../img/girl_640.jpg');
			background-position: center;
			background-size: cover;
			z-index: 0;
		}

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: -1;
		}

		&__text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			height: 100%;
			text-align: center;
			color: #fff;
			z-index: 5;

			h2 {
				font-size: 2.2rem;
				border: 1px solid white;
				padding: 0.4em;
			}
		}
	}
}

// Offerts
.offerts {
	scroll-margin-top: 4em;
}

.link {
	margin: 1.5em;
	text-align: center;

	a {
		text-decoration: none;
		color: gray;
	}
}

.heading p {
	text-align: center;
	margin: 0 1em;
}

.offert {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2.5em;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 1em 1em;
		min-width: 15em;
		min-height: 20em;
		border-radius: 8px;
		box-shadow: 0 0 5px rgb(148, 144, 144);
		overflow: hidden;

		.title {
			font-size: 3rem;
			font-weight: 400;
			margin-top: 0.5em;
		}

		span {
			display: block;
			font-size: 3rem;
			font-weight: 500;
			margin: 0.2em 0;
		}

		.list {
			list-style: none;
			margin-bottom: 1.2em;

			li {
				padding-bottom: 0.5em;
				font-size: 1.5rem;

				i {
					margin-right: 0.9em;
					color: rgb(95, 224, 95);
				}

				.fa-minus {
					color: grey;
				}
			}

			.minus {
				color: grey;
			}
		}

		button {
			padding: 0.5em 3.5em;
			margin-bottom: 2em;
			font-size: 1.7rem;
			letter-spacing: 2px;
			background: none;
			border: none;
			color: grey;
			border-radius: 8px;
			box-shadow: 0 0 5px rgb(148, 144, 144);
			cursor: pointer;
		}

		.green {
			color: #000;
			background-color: rgb(64, 184, 64);
			box-shadow: 0 0 5px rgb(64, 184, 64);
		}
	}
}

// FOOTER
.footer {
	color: #fff;
	background-color: rgb(236, 231, 231);
	margin-top: 3em;

	&__boxes {
		display: none;
		justify-content: space-around;
		align-items: center;
	}

	&__logo {
		font-size: 4rem;
		text-decoration: none;
		color: rgb(50, 50, 50);
	}

	&__box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 10em;
		margin-top: 50px;

		.items {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin: 1.5em;
			height: 100%;

			h3 {
				color: #000;
				font-weight: 600;
				margin-bottom: 1em;
			}
			ul {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				height: 100%;
				list-style: none;
				color: rgb(50, 50, 50);
				font-size: 1.2rem;

				li {
					margin-bottom: 1em;
				}
			}
		}
	}

	&__bottom-text {
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid black;
		padding: 20px 0;
		color: rgb(50, 50, 50);
	}

	&__year {
		margin-right: 0.2em;
	}
}

// CONTACT
.contact {
	position: relative;
	top: 7em;
	max-width: 60%;
	padding: 1em;
	margin: 0 auto;
	margin-bottom: 15em;
	background-color: rgb(236, 231, 231);
	box-shadow: 0 0 5px rgb(148, 144, 144);
	border-radius: 8px;
	overflow: hidden;

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input,
	&__form-textarea {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.8rem;
		outline: none;
		transition: box-shadow 0.3s;

		&:hover {
			box-shadow: 0 0 8px gray;
		}
	}

	&__form-textarea {
		min-height: 150px;
		max-height: 300px;
		resize: vertical;
	}

	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: #000;
		border: none;
		border-radius: 8px;
		background: none;
		border: 1px solid grey;
		box-shadow: 0 0 2px grey;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgb(64, 184, 64);
		}
	}
}

.map {
	&_box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 20em;
		margin: 0 auto;
		margin-bottom: 5em;

		h3 {
			margin-bottom: 1.5em;
			font-weight: normal;
		}
	}
}

@import 'medium.scss';
@import 'large.scss';
@import 'extraLarge.scss';
