*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.section-heading {
  position: relative;
  margin: 1em;
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* NAVIGATION */
.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4em;
  background-color: #fff;
  border-bottom: 1px solid black;
  z-index: 1;
}
.nav__logo {
  position: relative;
  left: 5%;
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
  z-index: 2;
}
.nav__logo .fa-solid {
  padding: 4px;
  font-size: 2.5rem;
}
.nav__items {
  position: fixed;
  width: 100%;
  top: 4em;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav__items--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav__items .nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1em 0;
  width: 30%;
  font-size: 1.7rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav__items .nav__item:hover {
  font-weight: bold;
}

.burger-btn {
  position: fixed;
  right: 0;
  top: 0.2em;
  padding: 0.2em;
  margin-right: 0.5em;
  font-size: 2em;
  background: none;
  color: rgb(50, 50, 50);
  border: none;
  cursor: pointer;
  z-index: 2;
}

/* HEADER */
header .hero__img {
  position: relative;
  width: 100%;
  height: 32em;
  background-image: url("../img/jungle_640.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
header .hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
header .hero__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 5;
}
header .hero__text p {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}
header .hero__text h1 {
  font-size: 3rem;
  margin: 0 0.5em;
}

/* ABOUT */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  scroll-margin-top: 4em;
}
.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 0;
}
.about__img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
}
.about__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: 2em;
  font-weight: lighter;
  color: #000;
}
.about__title {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}
.about__text {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: justify;
  margin: 0 1em;
}

.adventure {
  width: 100%;
}
.adventure .hero__img {
  position: relative;
  height: 250px;
  background-image: url("../img/girl_640.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.adventure .hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.adventure .hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 5;
}
.adventure .hero__text h2 {
  font-size: 1.2em;
  border: 1px solid white;
  padding: 1em;
}

.offerts {
  scroll-margin-top: 4em;
}

.heading p {
  text-align: center;
  margin: 0 1em;
}

.offert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.5em;
}
.offert__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 1em;
  min-width: 15em;
  min-height: 20em;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.offert__box .title {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0.5em;
}
.offert__box span {
  font-size: 2em;
  font-weight: 500;
}
.offert__box .list {
  list-style: none;
}
.offert__box .list li {
  padding-bottom: 0.5em;
  font-size: 0.9em;
}
.offert__box .list li i {
  margin-right: 0.9em;
  color: rgb(95, 224, 95);
}
.offert__box .list li .fa-minus {
  color: grey;
}
.offert__box .list .minus {
  color: grey;
}
.offert__box button {
  padding: 0.5em 3.5em;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  letter-spacing: 2px;
  background: none;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
  cursor: pointer;
}
.offert__box .green {
  background-color: rgb(64, 184, 64);
  -webkit-box-shadow: 0 0 5px rgb(64, 184, 64);
          box-shadow: 0 0 5px rgb(64, 184, 64);
}

.footer {
  color: #fff;
  background-color: rgb(236, 231, 231);
  margin-top: 3em;
}
.footer__boxes {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  font-size: 4rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  margin-top: 50px;
}
.footer__box .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.5em;
  height: 100%;
}
.footer__box .items h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 1em;
}
.footer__box .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  list-style: none;
  color: rgb(50, 50, 50);
  font-size: 0.8em;
}
.footer__box .items ul li {
  margin-bottom: 1em;
}
.footer__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  padding: 20px 0;
  color: rgb(50, 50, 50);
}
.footer__year {
  margin-right: 0.2em;
}

@media (min-width: 992px) {
  .wrapper .nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6em;
    top: 0;
    left: 0;
  }
  .wrapper .nav__logo {
    position: absolute;
    left: 12%;
    font-size: 4rem;
    text-decoration: none;
  }
  .wrapper .nav__logo .fa-solid {
    font-size: 4rem;
  }
  .wrapper .nav__items {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .wrapper .nav__items .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 7%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    font-size: 2rem;
    text-decoration: none;
    color: rgb(50, 50, 50);
    -webkit-transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
  }
  .wrapper .nav__items .nav__item:hover {
    background-color: #000;
    color: #fff;
    font-weight: normal;
  }
  .burger-btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */