*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.section-heading {
  position: relative;
  margin: 1em;
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* NAVIGATION */
.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4em;
  background-color: #fff;
  border-bottom: 1px solid black;
  z-index: 1;
}
.nav__logo {
  position: fixed;
  left: 5%;
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
  z-index: 2;
}
.nav__logo .fa-solid {
  padding: 4px;
  font-size: 2.5rem;
}
.nav__items {
  position: fixed;
  width: 100%;
  top: 4em;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  background-color: #fff;
}
.nav__items--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav__items .nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1em 0;
  width: 30%;
  font-size: 1.7rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
}
.nav__items .nav__item:hover {
  font-weight: bold;
}

.burger-btn {
  position: fixed;
  right: 0;
  top: 0.2em;
  padding: 0.2em;
  margin-right: 0.5em;
  font-size: 3rem;
  background: none;
  color: rgb(50, 50, 50);
  border: none;
  cursor: pointer;
  z-index: 2;
}

/* HEADER */
header .hero__img {
  position: relative;
  width: 100%;
  height: 32em;
  background-image: url("../img/jungle_640.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
header .hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
header .hero__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 5;
}
header .hero__text p {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}
header .hero__text h1 {
  font-size: 3rem;
  margin: 0 0.5em;
}

/* ABOUT */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  scroll-margin-top: 4em;
}
.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 0;
}
.about__img {
  display: block;
  max-width: 100%;
  max-height: 220px;
  margin: 0 auto;
}
.about__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: 2em;
  font-weight: lighter;
  color: #000;
}
.about__title {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}
.about__text {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: justify;
  margin: 0 1em;
}

.adventure {
  width: 100%;
}
.adventure .hero__img {
  position: relative;
  height: 250px;
  background-image: url("../img/girl_640.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.adventure .hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.adventure .hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 5;
}
.adventure .hero__text h2 {
  font-size: 2.4rem;
  border: 1px solid white;
  padding: 1em 1.5em;
}

.offerts {
  scroll-margin-top: 4em;
}

.link {
  margin: 1.5em;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: gray;
}

.heading p {
  text-align: center;
  margin: 0 1em;
}

.offert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.5em;
}
.offert__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 1em;
  min-width: 15em;
  min-height: 20em;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
  overflow: hidden;
}
.offert__box .title {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0.5em;
}
.offert__box span {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.2em 0;
}
.offert__box .list {
  list-style: none;
  margin-bottom: 1.2em;
}
.offert__box .list li {
  padding-bottom: 0.5em;
  font-size: 1.5rem;
}
.offert__box .list li i {
  margin-right: 0.9em;
  color: rgb(95, 224, 95);
}
.offert__box .list li .fa-minus {
  color: grey;
}
.offert__box .list .minus {
  color: grey;
}
.offert__box button {
  padding: 0.5em 3.5em;
  margin-bottom: 2em;
  font-size: 1.7rem;
  letter-spacing: 2px;
  background: none;
  border: none;
  color: grey;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
  cursor: pointer;
}
.offert__box .green {
  color: #000;
  background-color: rgb(64, 184, 64);
  -webkit-box-shadow: 0 0 5px rgb(64, 184, 64);
          box-shadow: 0 0 5px rgb(64, 184, 64);
}

.footer {
  color: #fff;
  background-color: rgb(236, 231, 231);
  margin-top: 3em;
}
.footer__boxes {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  font-size: 4rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  margin-top: 50px;
}
.footer__box .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.5em;
  height: 100%;
}
.footer__box .items h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 1em;
}
.footer__box .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  list-style: none;
  color: rgb(50, 50, 50);
  font-size: 1.2rem;
}
.footer__box .items ul li {
  margin-bottom: 1em;
}
.footer__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  padding: 20px 0;
  color: rgb(50, 50, 50);
}
.footer__year {
  margin-right: 0.2em;
}

.contact {
  position: relative;
  top: 7em;
  max-width: 60%;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 15em;
  background-color: rgb(236, 231, 231);
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
  border-radius: 8px;
  overflow: hidden;
}
.contact__form, .contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input, .contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.contact__form-input:hover, .contact__form-textarea:hover {
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
}
.contact__form-textarea {
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}
.contact__form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #000;
  border: none;
  border-radius: 8px;
  background: none;
  border: 1px solid grey;
  -webkit-box-shadow: 0 0 2px grey;
          box-shadow: 0 0 2px grey;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.contact__form-btn:hover {
  background-color: rgb(64, 184, 64);
}

.map_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 20em;
  margin: 0 auto;
  margin-bottom: 5em;
}
.map_box h3 {
  margin-bottom: 1.5em;
  font-weight: normal;
}

@media (min-width: 768px) {
  .link {
    margin: 1.5em;
    font-size: 2rem;
    text-align: center;
  }
  .adventure .hero__text h2 {
    font-size: 3rem;
    border: 1px solid white;
    padding: 1em 4em;
  }
  .offers__option {
    max-width: 35em;
  }
  .offers__option-heading {
    margin-bottom: 0.7em;
  }
  .offers__option-text {
    font-size: 1.6rem;
  }
  .map_box {
    max-width: 25em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4rem;
    margin: 1.5em;
  }
  .wrapper .nav {
    height: 5em;
    left: 0;
    border: none;
  }
  .wrapper .nav__logo {
    left: 12%;
    font-size: 4rem;
  }
  .wrapper .nav__logo .fa-solid {
    font-size: 4rem;
  }
  .wrapper .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5em;
    top: 0;
    border-bottom: 1px solid black;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .wrapper .nav__items .nav__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10%;
    height: 100%;
    left: 50%;
    padding: 1em;
    font-size: 2rem;
    -webkit-transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
  }
  .wrapper .nav__items .nav__item:hover {
    background-color: #000;
    color: #fff;
    font-weight: normal;
  }
  .burger-btn {
    display: none;
  }
  header .hero__img {
    background-image: url("../img/jungle_1920.jpg");
  }
  header .hero__text p {
    font-size: 3rem;
  }
  header .hero__text h1 {
    font-size: 4rem;
    margin: 0;
  }
  /* ABOUT */
  .about {
    scroll-margin-top: 5em;
  }
  .about__box {
    margin-bottom: 5em;
  }
  .about__img {
    max-height: 300px;
  }
  .about__box-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 45%;
    margin: 0;
    padding-left: 4em;
  }
  .about__title {
    font-size: 3rem;
  }
  .about__text {
    font-size: 1.5rem;
    margin: 0;
  }
  .adventure .hero__img {
    height: 400px;
    background-image: url("../img/girl_1920.jpg");
  }
  .adventure .hero__text h2 {
    font-size: 4rem;
    border: 1px solid white;
    padding: 1em 3.5em;
  }
  .offerts {
    scroll-margin-top: 5em;
  }
  .heading p {
    font-size: 2.2rem;
  }
  .offert__box {
    min-width: 18em;
    min-height: 23em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .offert__box:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .offert__box .title {
    font-size: 3rem;
    margin-top: 0.5em;
  }
  .offert__box span {
    font-size: 4.5rem;
  }
  .offert__box .list li {
    font-size: 1.8rem;
  }
  .offert__box button {
    padding: 0.5em 4em;
    font-size: 2rem;
  }
  .footer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .offers__option {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 50em;
  }
  .offers__option-text {
    font-size: 1.4rem;
  }
  .map_box {
    max-width: 35em;
  }
  .map_box h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .adventure .hero__text h2 {
    font-size: 5rem;
    border: 1px solid white;
    padding: 1em 5em;
  }
  header .hero__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10em;
  }
  .offers__option {
    max-width: 65em;
  }
  .offers__option-heading {
    font-size: 2.5rem;
  }
  .offers__option-text {
    font-size: 1.7rem;
  }
  .map_box {
    max-width: 40em;
  }
}/*# sourceMappingURL=style.css.map */