*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

/* NAVIGATION */
.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 6em;
}

.logo {
  position: absolute;
  left: 5%;
  font-size: 4rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.logo .fa-solid {
  padding: 10px;
  font-size: 3.5rem;
}

.nav__items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 40%;
  left: 60%;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 2.5em;
  font-size: 1.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.active {
  color: #fff;
  background-color: #000;
}

/* HEADER */
header .hero__img {
  position: relative;
  width: 100%;
  height: 32em;
  background-image: url("../img/jungle_1920.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

header .hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

header .hero__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 15em;
  text-align: left;
  color: #fff;
  z-index: 5;
}

.hero__text p {
  font-size: 3rem;
}

.hero__text h1 {
  font-size: 4rem;
}

/* ABOUT */
.section-heading {
  position: relative;
  margin: 1.5em;
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0;
}
.about__img {
  display: block;
  max-width: 90%;
  max-height: 300px;
}
.about__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 40%;
  font-weight: lighter;
  color: #000;
}
.about__title {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.about__text {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.adventure {
  width: 100%;
  margin-top: 2.5em;
}
.adventure .hero__img {
  position: relative;
  height: 300px;
  background-image: url("../img/girl_1920.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.adventure .hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.adventure .hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 5;
}
.adventure h2 {
  font-size: 2.5em;
  border: 1px solid white;
  padding: 1em 7em;
}

.offert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}
.offert__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 1em;
  min-width: 20em;
  min-height: 25em;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
}
.offert__box .title {
  font-size: 2em;
  font-weight: 400;
  margin-top: 0.5em;
}
.offert__box span {
  font-size: 3em;
  font-weight: 500;
}
.offert__box .list {
  list-style: none;
}
.offert__box .list li {
  padding-bottom: 0.5em;
  font-size: 1.1em;
}
.offert__box .list li i {
  margin-right: 1em;
  color: rgb(95, 224, 95);
}
.offert__box .list li .fa-minus {
  color: grey;
}
.offert__box .list .minus {
  color: grey;
}
.offert__box button {
  padding: 0.5em 3.5em;
  margin-bottom: 2em;
  font-size: 1em;
  letter-spacing: 2px;
  background: none;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgb(148, 144, 144);
          box-shadow: 0 0 5px rgb(148, 144, 144);
}
.offert__box .green {
  background-color: rgb(64, 184, 64);
  -webkit-box-shadow: 0 0 5px rgb(64, 184, 64);
          box-shadow: 0 0 5px rgb(64, 184, 64);
}

.heading .section-heading {
  margin-bottom: 1em;
}
.heading p {
  text-align: center;
  font-size: 1.2em;
}

.footer {
  color: #fff;
  background-color: rgb(236, 231, 231);
  margin-top: 3em;
}
.footer__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  font-size: 4rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  margin-top: 50px;
}
.footer__box .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.5em;
  height: 100%;
}
.footer__box .items h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 1em;
}
.footer__box .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  list-style: none;
  color: rgb(50, 50, 50);
  font-size: 0.8em;
}
.footer__box .items ul li {
  margin-bottom: 1em;
}
.footer__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */